@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: $very-dark-blue;
  font-family: $main-font;
  font-weight: $medium;
  color: $light-grayish-blue;
}

p {
  font-size: 13px;
}

header {
  background-image: url("../../images/bg-mobile-dark.jpg");
  background-size: cover;
  padding: 40px 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

h1 {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.change-theme {
  background: transparent;
  border: none;
  transform: scale(0.75);
}

.create-task {
  display: flex;
  align-items: center;
  background-color: $very-dark-desaturate-blue;
  height: 48px;
  border-radius: 5px;

  input {
    color: $light-grayish-blue;
    background-color: transparent;
    border: none;

    &:focus {
      height: 30px;
    }
  }
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid $very-dark-grayish-blue;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 10px;
}

main {
  position: relative;
  bottom: 25px;
  margin: 0 25px;
}

.lists {
  border-radius: 5px;
  background-color: $very-dark-desaturate-blue;

  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: $light-grayish-blue;
    padding: 17px 20px;
    padding-left: 0;
    border-bottom: 1px solid $very-dark-grayish-blue;

    .item {
      display: flex;
      align-items: center;

      .circle {
        cursor: pointer;
      }
    }

    .cross {
      fill: #494c6b;
      transform: scale(0.75);
      cursor: pointer;

      &:hover,
      &:active {
        fill: $bright-blue;
      }
    }
  }

  .list-status {
    color: $very-dark-grayish-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;

    button {
      border: none;
      background: transparent;
      color: $very-dark-grayish-blue;
      cursor: pointer;

      &:hover,
      &:active {
        color: $bright-blue;
      }
    }
  }
}

.filter {
  background-color: $very-dark-desaturate-blue;
  color: $very-dark-grayish-blue;
  font-weight: $bold;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .filter-list {
    color: $very-dark-grayish-blue;
    background: transparent;
    border: none;
    padding: 0 8px;
    cursor: pointer;

    &:hover,
    &:active {
      color: $bright-blue;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $very-dark-grayish-blue;
}

.complete {
  .item {
    color: $very-dark-grayish-blue;
    text-decoration: line-through;

    .circle {
      background-image: $check-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
