@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@import "variables";
@import "theme";
@import "viewport";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.light {
  background-color: $very-light-grayish-blue;
}

body {
  background-color: $very-dark-blue;
  color: $light-grayish-blue;
  font-family: $main-font;
  font-weight: $medium;
}

p {
  font-size: 13px;
}

header {
  background-size: cover;
  padding: 40px 25px;
}

.container {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

h1 {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.change-theme {
  background: transparent;
  border: none;
  transform: scale(0.75);
  cursor: pointer;
}

.create-task {
  max-width: 550px;
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 5px;

  form {
    display: flex;
    width: 100%;
    align-items: center;

    input {
      font-family: $main-font;
      background-color: transparent;
      border: none;
      width: 80%;

      &:focus {
        height: 20px;
      }
    }
  }
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

main {
  max-width: 550px;
  position: relative;
  bottom: 25px;
  margin: 0 25px;
}

.lists {
  border-radius: 5px;

  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    padding: 17px 20px;
    padding-left: 0;
    border-bottom: 1px solid;

    .item {
      display: flex;
      align-items: center;

      .circle {
        cursor: pointer;
      }
    }

    .cross {
      transform: scale(0.75);
      cursor: pointer;

      &:hover,
      &:active {
        fill: $bright-blue;
      }
    }
  }

  .list-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    border-radius: 0 0 5px 5px;

    .list-count[class~="zero"] {
      margin: 0 auto;
    }

    button {
      font-family: $main-font;
      border: none;
      background: transparent;
      cursor: pointer;

      &:hover,
      &:active {
        color: $bright-blue;
      }
    }
  }
}

.filter {
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .filter-list {
    font-weight: $bold;
    background: transparent;
    border: none;
    padding: 0 8px;
    cursor: pointer;

    &:hover,
    &:active {
      color: $bright-blue;
    }
  }
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $very-dark-blue, $alpha: 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .box {
    padding: 20px 0;
    width: 90%;
    max-width: 600px;
    border-radius: 5px;

    p {
      font-size: 1.25rem;
      text-align: center;
      margin: 20px;
    }

    .button-box {
      width: 60%;
      margin: 0 auto;
    }

    .cancel,
    .confirm,
    .okay {
      font-size: 1rem;
      padding: 10px 0;
      width: 50%;
      border: none;
      color: $light-grayish-blue;
      background-color: transparent;
      cursor: pointer;
    }

    .cancel {
      background-color: red;
      border-radius: 5px 0 0 5px;
    }

    .confirm {
      background-color: green;
      border-radius: 0 5px 5px 0;
    }

    .okay {
      background-color: red;
      display: block;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}

.modal[class~="hidden"] {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $very-dark-grayish-blue;
}

.complete {
  .item {
    text-decoration: line-through;

    .circle {
      background-image: $check-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
