@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.light {
  background-color: #e4e5f1;
}

body {
  background-color: #161722;
  color: #cacde8;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

p {
  font-size: 13px;
}

header {
  background-size: cover;
  padding: 40px 25px;
}

header[class~="dark"] {
  background-image: url("../../images/bg-mobile-dark.jpg");
}

header[class~="light"] {
  background-image: url("../../images/bg-mobile-light.jpg");
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

h1 {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.change-theme {
  background: transparent;
  border: none;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  cursor: pointer;
}

.create-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-radius: 5px;
}

.create-task form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-task form input {
  background-color: transparent;
  border: none;
}

.create-task form input:focus {
  height: 20px;
}

.create-task[class~="dark"] {
  background-color: #25273c;
}

.create-task[class~="dark"] .circle {
  border-color: #4d5066;
}

.create-task[class~="dark"] input {
  color: #cacde8;
}

.create-task[class~="light"] {
  background-color: #fafafa;
}

.create-task[class~="light"] .circle {
  border-color: #cacde8;
}

.create-task[class~="light"] input {
  color: #777a92;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

main {
  position: relative;
  bottom: 25px;
  margin: 0 25px;
}

.lists {
  border-radius: 5px;
}

.lists .todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  padding: 17px 20px;
  padding-left: 0;
  border-bottom: 1px solid;
}

.lists .todo-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lists .todo-item .item .circle {
  cursor: pointer;
}

.lists .todo-item .cross {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  cursor: pointer;
}

.lists .todo-item .cross:hover, .lists .todo-item .cross:active {
  fill: #3a7bfd;
}

.lists .list-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 20px;
}

.lists .list-status .list-count[class~="zero"] {
  margin: 0 auto;
}

.lists .list-status button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.lists .list-status button:hover, .lists .list-status button:active {
  color: #3a7bfd;
}

.lists[class~="dark"] .todo-item {
  color: #cacde8;
  background-color: #25273c;
  border-color: #4d5066;
}

.lists[class~="dark"] .todo-item .cross {
  fill: #494c6b;
}

.lists[class~="dark"] .todo-item[class~="dragged"] {
  background-color: #161722;
}

.lists[class~="dark"] .todo-item[class~="dragged"] .item {
  visibility: hidden;
}

.lists[class~="dark"] .todo-item[class~="dragged"] .cross {
  visibility: hidden;
}

.lists[class~="dark"] .complete .item {
  color: #4d5066;
}

.lists[class~="dark"] .list-status {
  background-color: #25273c;
  color: #4d5066;
}

.lists[class~="dark"] .list-status button {
  color: #4d5066;
}

.lists[class~="light"] .circle {
  border-color: #777a92;
}

.lists[class~="light"] .todo-item {
  background-color: #fafafa;
  color: #4d5066;
  border-color: #cacde8;
}

.lists[class~="light"] .todo-item .cross {
  fill: #494c6b;
}

.lists[class~="light"] .todo-item[class~="dragged"] {
  background-color: #e4e5f1;
}

.lists[class~="light"] .todo-item[class~="dragged"] .item {
  visibility: hidden;
}

.lists[class~="light"] .todo-item[class~="dragged"] .cross {
  visibility: hidden;
}

.lists[class~="light"] .complete .item {
  color: #cacde8;
}

.lists[class~="light"] .list-status {
  background-color: #fafafa;
  color: #4d5066;
}

.lists[class~="light"] .list-status button {
  color: #4d5066;
}

.filter {
  font-weight: 700;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .filter-list {
  background: transparent;
  border: none;
  padding: 0 8px;
  cursor: pointer;
}

.filter .filter-list:hover, .filter .filter-list:active {
  color: #3a7bfd;
}

.filter[class~="dark"] {
  background-color: #25273c;
}

.filter[class~="dark"] .filter-list {
  color: #4d5066;
}

.filter[class~="dark"] .all,
.filter[class~="dark"] .active,
.filter[class~="dark"] .complete {
  color: #3a7bfd;
}

.filter[class~="light"] {
  background-color: #fafafa;
}

.filter[class~="light"] .filter-list {
  color: #4d5066;
}

.filter[class~="light"] .all,
.filter[class~="light"] .active,
.filter[class~="light"] .complete {
  color: #3a7bfd;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(22, 23, 34, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal .box {
  padding: 20px 0;
  width: 90%;
  border-radius: 5px;
}

.modal .box p {
  font-size: 1.25rem;
  text-align: center;
  margin: 20px;
}

.modal .box .button-box {
  width: 60%;
  margin: 0 auto;
}

.modal .box .cancel,
.modal .box .confirm,
.modal .box .okay {
  font-size: 1rem;
  padding: 10px 0;
  width: 50%;
  border: none;
  color: #cacde8;
  background-color: transparent;
  cursor: pointer;
}

.modal .box .cancel {
  background-color: red;
  border-radius: 5px 0 0 5px;
}

.modal .box .confirm {
  background-color: green;
  border-radius: 0 5px 5px 0;
}

.modal .box .okay {
  background-color: red;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

.modal[class~="hidden"] {
  visibility: hidden;
}

.modal[class~="light"] .box {
  background-color: #e4e5f1;
  color: #777a92;
}

.modal[class~="dark"] .box {
  background-color: #25273c;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d5066;
}

.complete .item {
  text-decoration: line-through;
}

.complete .item .circle {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */